<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/LOGO-BBVA.png" style="width: 200px">
    <SearchPredictive>
      <h1>{{ $t("title") }}</h1>
    </SearchPredictive>
  </div>
</template>

<script>
// @ is an alias to /src
import SearchPredictive from '@/components/SearchPredictive.vue'

export default {
  name: 'home',
  components: {
    SearchPredictive
  }
}
</script>
